<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Search</title>
</head>
<body>
    <h1>Procure por uma carta de Yu-Gi-Oh!</h1>
    <form action="{% url 'card_info' %}" method="GET">
        <label for="card_name">Insira o nome da carta:</label><br>
        <input type="text" id="card_name" name="card_name"><br>
        <button type="submit">Pesquise</button>
    </form>
    <a href="{% url 'all_cards' %}"><button>Todas as cartas</button></a>
    
</body>
</html>

