      
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck: {{ deck.name }}</title>
</head>
<body>
    <h1>Deck: {{ deck.name }}</h1>

    <h2>Main Deck ({{ deck.main_deck.count }})</h2>
    <ul>
        {% for card in deck.main_deck.all %}
        <li>{{ card.name }} ({{ card.type }})</li>
        {% endfor %}
    </ul>

    <h2>Extra Deck ({{ deck.extra_deck.count }})</h2>
    <ul>
        {% for card in deck.extra_deck.all %}
        <li>{{ card.name }} ({{ card.type }})</li>
        {% endfor %}
    </ul>

    <h2>Side Deck ({{ deck.side_deck.count }})</h2>
    <ul>
        {% for card in deck.side_deck.all %}
        <li>{{ card.name }} ({{ card.type }})</li>
        {% endfor %}
    </ul>

    <a href="{% url 'list_decks' %}">Voltar para a lista de decks</a>
</body>
</html>

    